 .section-head {
    text-align: center;
    margin-top: 4rem;
    color: var(--skyblue);
    box-shadow: 5px 5px 5px var(--shadow);
    width: fit-content;
    margin: 3rem auto;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
}
.satsang-section {
    margin: 3rem 1rem ;
    padding: 0 0 1rem 0;
    border: 1px solid #333333;
    box-shadow: 0 0 20px 5px black;
    border-radius: 1rem;
}
.satsangm {
    display: flex;
    flex-wrap: wrap;
}
.satsang-video{
margin: 2rem 1rem;
}
.satsangpagebtn{
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    border: 1px solid var(--skyblue);
    box-shadow: 5px 5px 10px var(--shadow);
    background-color: var(--skyblue);
    display: flex;
    margin: auto;
    color: white;
    border: none;  
}
.satsangpagebtn a{
    color: rgb(6, 107, 196);
}
